.page_box {
    margin-bottom: 2.5rem;
}
.page_name {
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 15px;
}

.form {
    text-align: center;
}

.table,
.list_table {
    margin-left: auto;
    margin-right: auto;
}

.list_table td {
    padding: 0.5rem;
    text-align: center;
    padding: 0.8rem;
    border: 1px solid #ececec;
}

.table td {
    padding: 0.8rem;
    border: 1px solid #ececec;
    text-align: left;
}

.table th {
    padding: 1rem;
    border: 1px solid #ececec;
    font-size: 13px;
    font-weight: normal;
}

.table th:first-child,
.table td:first-child {
    border-left: 0;
}
.table th:last-child,
.table td:last-child {
    border-right: 0;
}

.input_text {
    height: 30px;
    width: 400px;
    padding: 10px;
    outline: none;
    border: 1px solid #b2b2b2;
}

.btn {
    font-family: "Spectral", serif;
    width: 280px;
    height: 60px;
    margin-top: 0.8rem;
    line-height: 60px;
    color: #2c2c2c;
    border: 1px solid #f3f3f3;
    font-size: 12px;
    letter-spacing: 0.13em;
    text-align: center;
    transition: all 0s ease 0s, all 0.93s ease 0s;
}

.btn:hover {
    text-decoration: none;
    background: black;
    color: #fff;
    border: 1px solid black;
}
