.page_name {
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 15px;
}

.payment_container {
    padding: 1rem;
    align-items: center;
    margin-top: 10px;
}

.payment_container_name {
    text-align: start;
    margin: 2rem 0;
    border-bottom: 1px solid #b2b2b2;
    font-family: "Spectral", serif;
    color: black;
}

.payment_container_content {
    text-align: start;
    margin-bottom: 2rem;
    align-items: center;
}
.payment_products {
    display: flex;
    text-align: center;
    align-items: center;
}

.payment_products * {
    flex-grow: 1;
    flex-basis: 0;
}

.payment_product_img {
    max-width: 100px;
    flex-grow: 1;
    flex-basis: 0;
}
.payment_product_name {
    flex-grow: 2;
}

.payment_adress_table td {
    padding: 0.3rem;
    text-align: left;
}

.payment_adress_table th {
    width: 75px;
    padding: 0.3rem;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
}

.payment_adress_table input {
    height: 30px;
    width: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #b2b2b2;
}
.payment_btn {
    font-family: "Spectral", serif;
    width: 280px;
    height: 60px;
    margin-top: 0.5rem;
    line-height: 60px;
    color: #2c2c2c;
    border: 1px solid #f3f3f3;
    font-size: 12px;
    letter-spacing: 0.13em;
    text-align: center;
    transition: all 0s ease 0s, all 0.93s ease 0s;
}

.payment_btn:hover {
    text-decoration: none;
    background: black;
    color: #fff;
    border: 1px solid black;
}

.star {
    color: #3d89bd;
    font-size: 10px;
    vertical-align: top;
    padding-left: 4px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .payment_container_content {
        text-align: center;
    }

    .payment_products {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
    .payment_btn {
        font-size: 0.4rem;
        margin: 10px 0;
    }
    .payment_total {
        flex-direction: column;
        align-items: center;
    }

    .payment_adress_table {
        margin-left: auto;
        margin-right: auto;
    }
}
