.page_name {
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 15px;
}

.form {
    display: flex;
    justify-content: center;
}

.input {
    height: 35px;
    color: #8f8f91;
    width: 350px;
    padding: 10px;
    outline: none;
    border: 1px solid #efefef;
    background: #efefef;
}

.btn {
    width: 70px;
    height: 35px;
    color: #2c2c2c;
    border: 1px solid #efefef;
    font-size: 12px;
    letter-spacing: 0.13em;
    text-align: center;
    transition: all 0s ease 0s, all 0.93s ease 0s;
}

.btn:hover {
    text-decoration: none;
    background: black;
    color: #fff;
    border: 1px solid black;
}
